body{

    padding: 0;
    margin: 0;

}
header{

    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 85px;
    width: 100%;
    z-index: 1;
    transition: background-color 0.5s;

}

.headerRolagem{

        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        height: 85px;
        width: 100%;
        background-color: white;
        position: fixed;
        transform: background-color 2s;
        
}


nav{

    position: relative;
    left: 30px;
    font-weight: 550;

}

.logo{

    position: relative;
    width: 50px;
    height: 50px;
    left: 68px;
    border: black solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: white;

}

ul{

    display: flex;
    list-style: none;

}

li{

    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
   

}

.li_mudavel:hover{

    text-decoration: underline;
    

}

li a{

    text-decoration: none;
    color: white;

}

.cadastro{

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #afadad solid;
    border-radius: 24px;
    width: 140px;
    height: 40px;
    border-width: 1px;
    position: relative;
    left: 550px;
    top: 5px;

}

.cadastrorolagem{

    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(192, 189, 189) solid;
    border-radius: 24px;
    width: 140px;
    height: 40px;
    border-width: 1px;
    position: relative;
    left: 550px;
    top: 5px;


}

.cadastro:hover{

    cursor: pointer;
    border-color: rgb(255, 255, 255);

}

.cadastrorolagem:hover{

    cursor: pointer;
    border-color: black;

    
}

.cadastro img{

    height: 32px;
    width: 32px;
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    right: 10px;
    

}

.cadastrorolagem img{

    height: 32px;
    width: 32px;
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    right: 10px;

}

.cadastrar{

    position: relative;
    right: 5px;

}

.interrogacao{

    width: 21px;
    height: 21px;
    position: relative;
    left: 555px;
    top: 11px;

}

.interrogacao:hover{

    cursor: pointer;

}

.seta_preta{

    position: relative;
    width: 16px; height: 16px;
    left: 5.5px; 
    

}

.seta_branca{

    position: relative;
    width: 14px; height: 14px;
    left: 6.5px;
    top: 2.5px; 

}

.banner_1{

    width: 100%;
    position: relative;
    bottom: 85px;

}